@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  border: #dee1e3;
  font-family: "Poppins", sans-serif;
  font-weight: 1.2rem;
  min-width: 450px;
  color: #393d41;
  line-height: 1.65;
  text-align: center;
}

header {
  background-color: black;
}

.logo {
  width: 100px;
  padding: 5%;
}

.first {
  background-image: url("/assets/images/banner.jpg");
  background-size: cover;
  padding: 10%;
}

.first p {
  margin: 6%;
  padding: 5%;
}

main button {
  background-color: #f04c2f;
  padding: 10px 30px 10px 30px;
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 5%;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 4vh;
  color: #25a2c3;
  line-height: 1.5;
}

.heading.two {
  font-size: inherit;
}

.heading.three {
  color: inherit;
}

.second {
  padding: 10%;
}

.second span {
  display: inline-block;
  margin: 5%;
}

.notebook {
  width: 250px;
  border-radius: 50%;
  margin: 5%;
}

.testm {
  padding: 10%;
  background-color: #e22d0e;
  color: white;
}

.testm div p {
  margin: 10%;
}

.testm div span {
  display: inline-block;
  margin: 10%;
  font-size: 1rem;
}

footer h3 {
  color: white;
}

footer {
  background-color: #25a2c3;
  color: #c8e7f0;
}
